/* test css */

body {
    background-color: blue;
    color: yellow;
}


#message {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 40px;
    
}

#showspn {
    color: rgba(255, 65, 100, 1);
    font-size: 25px;
}

#showspn:hover {
    color: rgb(4, 220, 248);
}




/************/