<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Owls in Code </title>
    <link 
        rel="shortcut icon" 
        href="/landingpage-tem/images/my tech company provisional logo.png" 
        type="image/x-icon"
    >
    <link 
        rel="stylesheet" 
        href="/landingpage-tem/css/home.css"
    >
</head>
<body>

    <h1> Hello joseph blanco from <span id="showspn"></span> </h1>
    
    <script src="/landingpage-tem/js/home.js"></script>
</body>
</html>