<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Owls in Code </title>
    <link rel="shortcut icon" href="/owls-in-code-template/images/Owls in code logo official.png" type="image/x-icon">
    <link rel="stylesheet" href="/owls-in-code-template/css/styles.css">
    <script src="https://kit.fontawesome.com/21e559e848.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Navbar -->

    <div id="container_nav_main">

        <nav class="nav_menu main">
            <ul>
              <li><a href="#"><i class="fa-solid fa-feather-pointed"></i></a></li>
              <li></li>
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </nav>
    </div>


      <script src="/owls-in-code-template/js/index.js"></script>
    
</body>
</html>